
footer{
    margin-top: 5rem;
}
.footerGeral {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #242222;
    color: white;
    font-size: 1.2rem;
}

.row-footer-1,
.row-footer-2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    padding: 20px 0;
}

.row-footer-1 {
    border-bottom: 1px solid #373636;
    justify-content: space-between;
}

.externo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    margin: 2% 0;
}

.externo>i {
    font-size: 1.5rem;
    color: #ff6a00;
}

.interno {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2%;
    margin-left: 15px;
}

.interno>p {
    margin: 0 !important;
    font-size: 0.8rem !important;
    color: #7e7e7e;
}

.row-footer-2 {
    justify-content: space-between;
}

.row-footer {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.column-1-footer,
.column-2-footer,
.column-3-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33.33%;
}

.column-1-footer {
    align-items: center;
}

.siga-nos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 12px;
    flex-wrap: wrap;
    margin: 0;
}

.siga-nos>h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

.siga-nos>i {
    font-size: 1.6rem;
    cursor: pointer;
    color: #ff5500;
}

.column-2-footer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10%;
}

.column-2-footer>.h3 {
    width: 100%;
    text-align: center;

}

.column-2-footer>ul>li>a {
    font-size: 0.9rem;
    color: #7e7e7e;
    margin-bottom: 10%;
    text-decoration: none;
}

.column-2-footer>ul>li>a:hover {
    color: #ff5500;
    text-decoration: underline;
    column-count: 2;
}

.column-2-footer>ul {
    list-style: none;
}

.h3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

hr {
    width: 20%;
    height: 1px;
    background-color: #ff5500;
    border: 1px solid #ff5500;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.column-3-footer {
    height: 100%;
    align-items: center;
}

.column-3-footer>img {
    width: 65%;
    height: auto;
    margin-bottom: 5%;
}
@media screen and (max-width: 780px){
    .row-footer-1 {      
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .row-footer-1 > div {
        justify-content: flex-start;
        width: 100%;
    }

    .externo, .interno {
        width: 100%;
        font-size: 1.75rem;
    }

    .interno > h4 {
        margin-bottom: 2%;
    }

    .row-footer-2 {
        flex-direction: column;
        justify-content: center;
    }

    .row-footer-2 > div {

        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 5%;
    }

    .coluna-links-1 {
        flex: 1;
    }

    .row-footer{
        width: 100%;
        font-size: 0.8rem;
    }

    .siga-nos {
        text-align: center;
        justify-content: center !important;
        column-gap: 5% !important;
    }

  

    .siga-nos > i {
        margin: 0 !important;
    }

    label {
        margin-bottom: 10% !important;
    }
}